* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
}

#loadingSpinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-border {
  font-size: 32px !important;
  width: 5rem !important;
  height: 5rem !important;
}

.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.55) !important;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar__link--active {
  border-bottom: 3px solid #29b6f6 !important;
  transition: border-bottom 0.5s ease-in-out !important;
}

.bg-dark .dropdown-item:hover {
  background: #198754 !important;
}

.bg-light .dropdown-item:hover {
  background: #000 !important;
  color: #198754 !important;
}

#centerNavbar {
  width: 500px;
}

.avatar-component {
  width: 100% !important;
}

.avatarToggleNavbar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.circleNotification {
  width: 20px;
  height: 20px;
  padding: 2px 6px;
}

#searchDiv {
  display: none;
}

.btn:focus,
button:focus:not(:focus-visible) {
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
  /* border: 1px solid #198754 !important; */
  border-top: 1px solid #198754 !important;
  border-left: 1px solid #198754 !important;
  border-bottom: 1px solid #198754 !important;
}

.form-select:focus {
  border-color: #198754 !important;
}

#headerComponent,
#loginFormComponent,
#forgotPasswordComponent,
#resetPasswordComponent,
#registerFormComponent,
#favoritesComponent,
#cartComponent,
#myAccountComponent,
#myOrdersComponent,
#myReviewsComponent,
#personalDataComponent,
#productComponent,
#dashboardComponent,
#searchResultsComponent,
#selectedCategoryComponent,
#usersDashboard,
#adminsDashboard,
#productsDashboard,
#categoriesDashboard,
#reviewsDashboard,
#imagesDashboard {
  padding-top: 80px;
}

#initials-rounded {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  line-height: 150px;
  cursor: pointer;
}

#user-initials,
.imgUserAvatar {
  width: 150px;
  height: 150px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}

.text-on-hover {
  opacity: 0;
  transition: 0.7s;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
}

.imgUserAvatar:hover + .text-on-hover {
  opacity: 1;
  transition: 0.7s;
}

#reviews-tab.nav-tabs .nav-link {
  color: #198754 !important;
  font-weight: bold !important;
  border: none !important;
}

#reviews-tab.nav-tabs .nav-link.active {
  color: #000 !important;
  background-color: #198754 !important;
  border-color: #198754 !important;
}

.dropdown-menu {
  width: 200px !important;
}

.dropdown-menu[data-bs-popper] {
  margin-top: 0.5rem !important;
  left: 0px !important;
}

.dropdown-item svg {
  width: 20px !important;
}

.list-group-item svg {
  width: 40px !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #198754 !important;
}

#categorySidebar.bg-white a:hover {
  background: #198754 !important;
  color: #000 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

#tableUsersDashboard tr:last-child,
#tableAdminsDashboard tr:last-child,
#tableCategoriesDashboard tr:last-child,
#tableProductsDashboard tr:last-child,
#tableReviewsDashboard tr:last-child,
#tableFavoritesProducts tr:last-child {
  border-color: transparent !important;
}

.btn-success:hover {
  background-color: #198754 !important;
  border-color: #198754 !important;
}

.btn-success:focus {
  background-color: #198754 !important;
}

@media (max-width: 1199px) {
  #centerNavbar {
    width: 330px;
  }
  .text-on-hover-avatar {
    bottom: -50px !important;
  }
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
  .dropdown-menu[data-bs-popper] {
    left: -59px !important;
  }
}

@media (max-width: 991px) {
  #centerNavbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .text-on-hover-avatar {
    bottom: -30px !important;
  }
}

@media (max-width: 576px) {
  .text-xs-center {
    text-align: center !important;
  }
}

.divReviewProduct:last-child {
  border: 0 !important;
}

.acountDataRow svg {
  width: 25px !important;
}

.acountDataRow:last-child {
  border: 0 !important;
}

:focus,
:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  -webkit-appearance: none !important;
}

.scrolling-wrapper {
  overflow-x: auto;
}

.modal .modal-header .btn-close {
  background-color: #dc3545;
}

.card-header:first-child {
  border-radius: 0 !important;
}

.reviewCurrentUser:last-child {
  border: 0 !important;
}

.filter input {
  text-indent: 25px;
}

.filter .icon {
  position: absolute;
  top: 12px;
  left: 16px;
}
